<div id="last_updated">
  Última actualización: <%= l @last_update %>
</div>

<h1>Propuestas del Congreso de España</h1>

<ul>
  <% @proposals.each do |proposal| %>
    <li><%= link_to truncate(proposal.title, :length => 170), proposal %></li>
  <% end %>
</ul>