<div id="last_updated">
  Última actualización: <%= l @proposals.last.updated_at, :format => :long %>
</div>

<h1>Congress Proposals</h1>

<ul>
  <% @proposals.each do |proposal| %>
    <li><%= link_to truncate(proposal.title, :length => 170), proposal %></li>
  <% end %>
</ul>

