body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  padding-left:25px;
  padding-top:10px;
  padding-bottom:10px;
}

th {
  text-align:left;
  vertical-align: top;
  min-width: 140px;
  padding: 10px;
}

td {
  padding-left: 10px;  
  width: 600px;
}

p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#last_updated {
  float:right;
  padding-right: 50px;
  padding-top: 10px;
}

#back{
  padding-left:3px;
  padding-top:10px;
}

